# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Баллы могут быть снижены** за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).

**Требования по сдаче практического задания**:
1. Ответ на вопрос и текстовый markdown с вашей логикой, почему вы выполнили это действие.
2. Залить в репу на github в папку module_1
3. Ссылку на репо отправлять мне на почту alexadevv@gmail.com не позднее дедлайна. 
4. Тема письма: Домашнее задание по модулю 1 <Фамилия Имя>
5. После дедлайна, неотправленные на почту задания, оцениваются максимум в 7 баллов.

In [12]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd
import numpy as np

In [18]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
data = pd.read_csv('/Users/margaritakozlova/Downloads/homework_1/baseball_games.csv')
data.head()

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [61]:
# Проверяем, чтобы все данные были числовые и заполненные
data['attendance'] = pd.to_numeric(data['attendance'], errors='coerce')
max_attendance_game=data.loc[data['attendance'].idxmax()]
print(f"Матч: {max_attendance_game['home_team']} vs {max_attendance_game['away_team']}")
print(f"Кол-во зрителей: {max_attendance_game['attendance']}")

Матч: Los Angeles Dodgers vs Chicago Cubs
Кол-во зрителей: 54449.0

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [60]:
data['temperature'] = pd.to_numeric(data['temperature'], errors='coerce') 
min_temperature_game=data.loc[data['temperature'].idxmin()]
print(f"Матч: {min_temperature_game['home_team']} vs {min_temperature_game['away_team']}")
print(f"Минимальная температура: {min_temperature_game['temperature']} °F")

Матч: Detroit Tigers vs New York Yankees
Минимальная температура: 31.0 °F

# 3. Какая игра была самая теплая за весь сезон?

In [62]:
data['temperature'] = pd.to_numeric(data['temperature'], errors='coerce') 
max_temperature_game=data.loc[data['temperature'].idxmax()]
print(f"Матч: {max_temperature_game['home_team']} vs {max_temperature_game['away_team']}")
print(f"Максимальная температура: {max_temperature_game['temperature']} °F")

Матч: Arizona Diamondbacks vs San Francisco Giants
Максимальная температура: 101.0 °F

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [66]:
data['game_hours_dec'] = pd.to_numeric(data['game_hours_dec'], errors='coerce') 
max_game_hours=data.loc[data['game_hours_dec'].idxmax()]
print(f"Матч: {max_game_hours['home_team']} vs {max_game_hours['away_team']}")
print(f"Продолжительность: {max_game_hours['game_hours_dec']}")

Матч: Toronto Blue Jays vs Cleveland Indians
Продолжительность: 6.216666666666667

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [67]:
data['game_hours_dec'] = pd.to_numeric(data['game_hours_dec'], errors='coerce') 
min_game_hours=data.loc[data['game_hours_dec'].idxmin()]
print(f"Матч: {min_game_hours['home_team']} vs {min_game_hours['away_team']}")
print(f"Продолжительность: {min_game_hours['game_hours_dec']}")

Матч: Pittsburgh Pirates vs Chicago Cubs
Продолжительность: 1.25

# 6. Сколько матчей в сезоне закончилось ничьей?

In [74]:
#1.Смотрим, какие значения есть в home_team_outcome - 
data['home_team_outcome'].unique()

array(['Win', 'Loss'], dtype=object)

In [83]:
#2.Так как в home_team_outcome нет варианта "ничья", то попробуем проверить через home_team_runs=way_team_runs
count_ = data[data['home_team_runs'] == data['away_team_runs']].shape[0]
print(f"Кол-во матчей, закончившихся ничьей: {count_}")

Кол-во матчей, закончившихся ничьей: 1

# 7. Какая игра была последней в сезоне?

In [90]:
last_game=data.loc[data['date'].idxmax()]
print(f"Матч: {last_game['home_team']} vs {last_game['away_team']}")
print(f"Дата: {last_game['date']}")

Матч: Cleveland Indians vs Chicago Cubs
Дата: 2016-11-02

In [91]:
#Проверим, сколько игр было в эту дату, если несколько, то найдем время, когда закончилась последняя
matches_count = data[data['date'] == '2016-11-02'].shape[0]
print(matches_count)

1

# 8. У какой игры было минимальное количество зрителей?

In [92]:
min_attendance_game=data.loc[data['attendance'].idxmin()]
print(f"Матч: {min_attendance_game['home_team']} vs {min_attendance_game['away_team']}")
print(f"Кол-во зрителей: {min_attendance_game['attendance']}")

Матч: Cleveland Indians vs Detroit Tigers
Кол-во зрителей: 8766.0

# 9. Какая игра в сезоне была самая ветренная?

In [94]:
wind_weather_game=data.loc[data['wind_speed'].idxmax()]
print(f"Матч: {wind_weather_game['home_team']} vs {wind_weather_game['away_team']}")
print(f"Максимальная скорость ветра: {wind_weather_game['wind_speed']}")

Матч: San Francisco Giants vs Milwaukee Brewers
Максимальная скорость ветра: 25.0

# 10. В какой игре получили максимальное количество очков?

In [97]:
max_runs_game=data.loc[data['total_runs'].idxmax()]
print(f"Матч: {max_runs_game['home_team']} vs {max_runs_game['away_team']}")
print(f"Максимальное кол-во очков: {max_runs_game['total_runs']}")

Матч: San Diego Padres vs Seattle Mariners
Максимальное кол-во очков: 29

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [99]:
max_errors_game=data.loc[data['home_team_errors'].idxmax()]
print(f"Матч: {max_errors_game['home_team']} vs {max_errors_game['away_team']}")
print(f"Максимальное кол-во ошибок: {max_errors_game['home_team_errors']}")

Матч: Milwaukee Brewers vs Arizona Diamondbacks
Максимальное кол-во ошибок: 5

# 12. В какой игре было максимальное количество хитов?

In [102]:
data['total_hits'] = data['home_team_hits'] + data['away_team_hits']
total_hits_game=data.loc[data['total_hits'].idxmax()]
print(f"Матч: {total_hits_game['home_team']} vs {total_hits_game['away_team']}")
print(f"Максимальное кол-во хитов: {total_hits_game['total_hits']}")

Матч: Boston Red Sox vs Texas Rangers
Максимальное кол-во хитов: 37

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [115]:
season_r = data[data['season'] == 'regular season']
home_games_r = season_r['home_team'].value_counts()
away_games_r = season_r['away_team'].value_counts()
total_games_r=home_games_r+away_games_r
games_per_team = total_games_r.reset_index()
games_per_team.columns = ['team', 'games_played']
games_per_team

                             team  games_played
0            Arizona Diamondbacks           162
1                  Atlanta Braves           161
2               Baltimore Orioles           162
3                  Boston Red Sox           162
4                    Chicago Cubs           162
5               Chicago White Sox           162
6                 Cincinnati Reds           162
7               Cleveland Indians           161
8                Colorado Rockies           162
9                  Detroit Tigers           161
10                 Houston Astros           162
11             Kansas City Royals           162
12  Los Angeles Angels of Anaheim           162
13            Los Angeles Dodgers           162
14                  Miami Marlins           161
15              Milwaukee Brewers           162
16                Minnesota Twins           162
17                  New York Mets           162
18               New York Yankees           162
19              Oakland Athletics           162
20          Philadelphia Phillies           162
21             Pittsburgh Pirates           162
22               San Diego Padres           162
23           San Francisco Giants           162
24               Seattle Mariners           162
25            St. Louis Cardinals           162
26                 Tampa Bay Rays           162
27                  Texas Rangers           162
28              Toronto Blue Jays           162
29           Washington Nationals           162

In [116]:
#Скорее всего нужен был только regular season
season_p = data[data['season'] == 'post season']

home_games_p = season_p['home_team'].value_counts()
away_games_p = season_p['away_team'].value_counts()
total_games_p=home_games_p+away_games_p
games_per_team_p = total_games_p.reset_index()
games_per_team_p.columns = ['team', 'games_played']
games_per_team_p

                   team  games_played
0     Baltimore Orioles           NaN
1        Boston Red Sox           3.0
2          Chicago Cubs          17.0
3     Cleveland Indians          15.0
4   Los Angeles Dodgers          11.0
5         New York Mets           NaN
6  San Francisco Giants           5.0
7         Texas Rangers           3.0
8     Toronto Blue Jays           9.0
9  Washington Nationals           5.0

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [126]:
season_r = data[data['season'] == 'regular season'] #На сколько я понимаю надо считать именно regular season
home_wins = season_r[season_r['home_team_win'] == 1]['home_team'].value_counts() # Победа домашних команд
away_wins = season_r[season_r['home_team_loss'] == 1]['away_team'].value_counts() #Прогрыш домашней команды означает выйгрыш гостевой команлы
total_wins=home_wins.add(away_wins, fill_value=0).astype(int)
top_team = total_wins.idxmax()
print(f"Команда, выйгравшая наибольшее кол-во матчей: {top_team}")

Команда, выйгравшая наибольшее кол-во матчей: Chicago Cubs

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [127]:
season_r = data[data['season'] == 'regular season']
home_wins = season_r[season_r['home_team_win'] == 1]['home_team'].value_counts() # Победа домашних команд
top_team_home = home_wins.idxmax()
print(f"Команда, выйгравшая наибольшее кол-во домашних матчей: {top_team_home}")

Команда, выйгравшая наибольшее кол-во домашних матчей: Chicago Cubs

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [128]:
season_r = data[data['season'] == 'regular season'] #На сколько я понимаю надо считать именно regular season
away_wins = season_r[season_r['home_team_loss'] == 1]['away_team'].value_counts() #Прогрыш домашней команды означает выйгрыш гостевой команлы
top_team_away = away_wins.idxmax()
print(f"Команда, выйгравшая наибольшее кол-во гостевых матчей: {top_team_away}")

Команда, выйгравшая наибольшее кол-во гостевых матчей: St. Louis Cardinals

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [129]:
season_r = data[data['season'] == 'regular season'] #На сколько я понимаю надо считать именно regular season
home_loss = season_r[season_r['home_team_loss'] == 1]['home_team'].value_counts() # Пройгрыш домашних команд
away_loss = season_r[season_r['home_team_win'] == 1]['away_team'].value_counts() #Победа домашней команды означает пройгрыш гостевой команлы
total_loss=home_loss.add(away_loss, fill_value=0).astype(int)
top_team_loss = total_loss.idxmax()
print(f"Команда, проигравшая наибольшее кол-во матчей: {top_team_loss}")

Команда, проигравшая наибольшее кол-во матчей: Minnesota Twins

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [165]:
#Взяла home_team_win, т к для того, чтобы посчитать коварацию нужны числовые параметры 
data_at=data[['home_team_win','attendance']].dropna()
x=data_at['home_team_win'].to_numpy()
y=data_at['attendance'].to_numpy()
covariance = np.cov(x,y,ddof=1)[0,1]
print(f"Ковариация: {covariance}")

Ковариация: 224.97187335720437

In [166]:
#Интерпритация: значение ковариации не дает никакого толкования, поэтому посчитаем разницу средних из ковариации. если р=0.5 И diff=903, то в среднем на победные матчи приходило на 900 зрителей больше
p=data['home_team_win'].mean()
diff=covariance/(p*(1-p))
print(p,diff)

0.5294356475842469 903.0171969741147

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [136]:
#Посчитаем процент проигранных домашних матчей по дням недели - больше всего во вторник и четверг 
loss_rate_by_day = data.groupby('day_of_week')['home_team_loss'].mean().sort_values()

print(f"Процент пройгрышных домашних матчей по дням недели: {loss_rate_by_day}")

Процент пройгрышных домашних матчей по дням недели: day_of_week
Wednesday    0.440633
Saturday     0.441919
Friday       0.467005
Monday       0.471223
Sunday       0.484694
Tuesday      0.497340
Thursday     0.500000
Name: home_team_loss, dtype: float64

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [150]:
#1.Нужно перевести температуру в градусы по Цельсию
data=data.copy()
data['temperature_celsia'] = (data['temperature']-32)*5/9
data ['cold']=data['temperature_celsia']<0
data[['temperature','temperature_celsia','cold']]

      temperature  temperature_celsia   cold
0            74.0           23.333333  False
1            55.0           12.777778  False
2            48.0            8.888889  False
3            65.0           18.333333  False
4            77.0           25.000000  False
...           ...                 ...    ...
2458         72.0           22.222222  False
2459         39.0            3.888889  False
2460         66.0           18.888889  False
2461         71.0           21.666667  False
2462         60.0           15.555556  False

[2463 rows x 3 columns]

In [155]:
#2.Проверяем, есть ли вообще холодная погода - на 1 игре
data['cold'].value_counts()

cold
False    2462
True        1
Name: count, dtype: int64

In [158]:
#3.
data.groupby('cold')['total_runs'].mean()

cold
False     8.932169
True     12.000000
Name: total_runs, dtype: float64

In [159]:
#4.Вывидим первые 20 игр с наибольшим total_runs - везде температура > 0
top20=data.sort_values('total_runs',ascending=False).head(20)
top20[['date','home_team','away_team','total_runs','temperature_celsia','cold']]

,date,home_team,away_team,total_runs,temperature_celsia,cold
1788,2016-06-02,San Diego Padres,Seattle Mariners,29,24.444444,False
881,2016-08-22,Cincinnati Reds,Los Angeles Dodgers,27,24.444444,False
1475,2016-06-28,San Francisco Giants,Oakland Athletics,24,15.000000,False
2052,2016-05-10,Texas Rangers,Chicago White Sox,24,29.444444,False
1562,2016-06-21,Minnesota Twins,Philadelphia Phillies,24,26.111111,False
112,2016-05-25,Texas Rangers,Los Angeles Angels of Anaheim,24,28.333333,False
2110,2016-05-05,San Francisco Giants,Colorado Rockies,24,16.666667,False
729,2016-09-04,Minnesota Twins,Chicago White Sox,24,25.000000,False
1647,2016-06-14,Colorado Rockies,New York Yankees,23,28.333333,False
263,2016-08-19,Baltimore Orioles,Houston Astros,23,30.000000,False
832,2016-08-26,Toronto Blue Jays,Minnesota Twins,23,28.888889,False
1441,2016-07-02,Boston Red Sox,Los Angeles Angels of Anaheim,23,26.666667,False
1482,2016-06-28,Colorado Rockies,Toronto Blue Jays,23,16.666667,False
1439,2016-07-02,Minnesota Twins,Texas Rangers,22,24.444444,False
2235,2016-04-24,Colorado Rockies,Los Angeles Dodgers,22,17.222222,False
2239,2016-04-24,Arizona Diamondbacks,Pittsburgh Pirates,22,22.222222,False
1005,2016-08-11,Minnesota Twins,Houston Astros,22,25.000000,False
934,2016-08-17,Colorado Rockies,Washington Nationals,22,29.444444,False
2443,2016-04-06,New York Yankees,Houston Astros,22,6.111111,False
2034,2016-05-12,Los Angeles Angels of Anaheim,St. Louis Cardinals,22,20.000000,False

In [160]:
top20['cold'].mean()

np.float64(0.0)